{% extends "base.html" %}
{% load filtros %}
{% block 'conteudo' %}

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo excluir?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href='{% url "excluir_livro" id_livro %}' class='btn btn-danger'>Excluir</a>
            </div>
        </div>
    </div>
  </div>

<div class="container">
    <br />
    <form action='#' method='POST'> {% csrf_token %}
        <p>
            <label>Nome o livro:</label>
            <input
                type="text"
                name="nome"
                class="form-control"
                value="{{livro.nome}}"
            />
        </p>
        <p>
            <label>Autor:</label>
            <input
                style="width: 40%"
                type="text"
                name="nome"
                class="form-control"
                value="{{livro.autor}}"
            />
        </p>
        <p>
            <label>Co-Autor:</label>
            <input
                style="width: 40%"
                type="text"
                name="nome"
                class="form-control"
                value="{{livro.co_author}}"
            />
        </p>
        <p>
            <label>Data de cadastro:</label>
            <input
                style="width: 40%"
                type="text"
                name="nome"
                class="form-control"
                value="{{livro.data_cadastro}}"
            />
        </p>
        <label>Categoria: &nbsp;</label>
        <select style='width: 20%' class='form-control' name'categoria'>
            {% for i in categoria %}
                {% if livro.categoria == i %}
                    <option selected >{{i}}</option>
                {% else %}
                    <option >{{i}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <label>Emprestado: &nbsp;</label>
        {% if livro.emprestado %}
        <input
            checked
            style="transform: scale(1.5); cursor: pointer"
            type="checkbox"
            name="emprestado"
        />
        {% else %}
        <input
            style="transform: scale(1.5); cursor: pointer"
            type="checkbox"
            name="emprestado" />
        {% endif %}
        <br />
        <br />

        <input type="submit" class="btn btn-success btn-lg" value="Salvar" />
    </form>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal2">
        Excluir
    </button>
    <hr>
    <h1>Historico de emprestimo</h1>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data do empréstimo</th>
            <th scope="col">Data da devolução</th>
            <th scope="col">Tempo de duração</th>
          </tr>
        </thead>
        <tbody>
            {% for i in emprestimo %}
                <tr>
                    {% if i.solicitante_anonimo == None %}
                        <th scope="row">{{i.nome_solicitante}}</th>
                    {% else %}
                        <th scope="row">{{i.solicitante_anonimo}}</th>
                    {% endif %}
                    <td>{{i.data_emprestimo}}</td>
                    <td>{{i.data_devolucao}}</td>
                    <td>{{i.data_devolucao|tempo_duracao:i.data_emprestimo}} dias</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock 'conteudo' %}
